<!-- <div> -->
    <div layout="column" layout-align="space-between">
        <div class="search-wrapper" layout="row" layout-align="start center">
            <i class="icons8-search"></i>
            <input class="search-field" type="text">
            <md-menu layout="row" layout-align="end start" md-offset="0 -5">
                <md-button aria-label="project settings" class="md-icon-button" ng-click="search.openMenu($mdMenu, $event)">
                    <md-icon md-menu-origin md-font-icon="icons8-more"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>Edit</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>Remove</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
<!-- </div> -->
